/*+============
      Css Reset
=============*/
*{
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }



    /*+============
      Formatação geral
=============*/

html {
    font-size: calc(12px + 1vw);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #21243d;
}

html body a{
text-decoration: none;
color: #21243d;

}
main {
      margin: 0 20vw 0 20vw;
}
   /*+============
      formatação da página
=============*/

header {
      margin: 0 5vw 3vw 5vw; /*atribui espaço*/
}
header nav ul{
display:flex; 
 justify-content: right;

}

header nav ul li{
margin: 1vw 10px 0 10px;

}

header nav ul li.atual a{
      color: #ff6464;
}
/*=============
formatação do works
=============*/


main.works h1 {
      font-weight: normal;
      margin: 0 0 2vw 0;    /* Margin serve para o espaçamento com oque ta fora*/
}
main.works section {
      border-bottom: 1px solid #e0e0e0;
      padding: 2vw 0 2vw 0;
}
main.works section:last-child {
      border: none;
}
main.works section p {
      margin: 1vw 0 1vw 0;
}
main.works section p span {
      color: white;
      background-color: #ff6464;
      border-radius: 34px  ;  /* borda do span*/
      padding: 2px 7px 2px 7px; /* padding serve para o espaçamento com oque esta dentro*/
      font-weight: bold;
}
/*=============
formatação home page
=============*/
section.banner{
      display: flex;
      margin: 8vw 0vw 3vw 0vw;
}
section.banner h1{
      font-size: 2rem;
}
section.banner p{
      margin: 2vw 0vw 2vw 0vw;
}
section.banner button{
      color: white;
      background-color: red;
      padding: 0.5vw ;
      border: none;
}
section.rt-post{
      background-color: #e7eaeb;
      padding: 2vw 5vw 2vw 5vw
}
section.rt-post h2{
      font-weight: normal;
      margin: 0 0 2vw 0;
}
section.rt-post ul{
      display: flex;
}
section.rt-post ul li{
      background-color: white;
      padding: 1vw;
      margin: 0vw 3vw 0vw;
}
section.rt.rt-post ul li:last-child{
      margin: 0;
}
section.rt.post ul li p{
      margin: 1.5vw 0 1.5vw 0;
}
section.ft-work h2{
      font-size: 2rem;
      font-weight: normal;
      margin: 2vw 0vw 2vw 3vw;
}
section.ft-work >div{
      display: flex;
      margin: 2vw 0vw 2vw 3vw;
}
section.ft-work div h3{
      margin: 2vw 0vw 2vw 0vw;
} 
section.ft-work div p span{
      color: white;
      background-color: #142850;
      border-radius: 35px;
      padding: 1px 10px 1px 10px;
      font-weight: bold

}

/*=============
formatação de rodapé
=============*/

footer {
      text-align: center; /*centraliza o texto do rodapé*/
      padding: 1vw 0 2vw 0 ; /*espaçamento do rodapé*/
}
footer nav ul {
      display: flex; /* coloca os elementos um ao lado do outro*/ 
      justify-content: center; /* alinha os ícones*/
}
footer nav ul li {
      margin: 0 5px 5px 5px;
      font-size: 2rem;
}
footer nav ul li a span {
      color: #21243d;
}